.edit-btn{
    margin-bottom: 3px;
}
.delete-btn{
    margin-top: 3px;
}

.well-title{
    font-size: 18px;
    margin-bottom: 5px;
}

.well-body{
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;
}
