<div class="jumbotron">
  <div class="container">
    <h1>Welcome to res now</h1>
    <p>Your reservation awaits...</p>
  </div>
</div>
<div class="container">
    <!--<span *ngIf="auth.userAuth | async">-->
      <div *ngIf="auth.authenticated">
      <!--<div class = "row">
        <div class = "sign-in-row">
          <button  type="button" class="btn btn-lg sign-in-btn" (click)= "goToEvents()">
            <span>Go to events</span>
          </button>
        </div>
      </div> -->
      <div class = "row">
        <div class = "sign-in-row">
          <button  type="button" class="btn btn-lg sign-in-btn" (click)= "goToHome()">
            <span>Home</span>
          </button>
        </div>
      </div>      
      <div class = "row">
        <div class = "sign-in-row">
          <button  type="button" class="btn btn-lg sign-in-btn" (click)= "signOut()">
            <span>Sign out</span>
          </button>
        </div>
      </div>         
    </div>
    <!--<span *ngIf="!(auth.userAuth  | async)">-->
      <div *ngIf="!auth.authenticated">
      <h2 style = "text-align:center">Sign in with</h2>
      <div class = "row">
        <div class = "sign-in-row">
          <button  type="button" class="btn btn-lg sign-in-btn" (click)= "startGoogleLogin()">
            <span>Google  </span><img src="app/images/google-login.png">
          </button>
        </div>
      </div>
      <div class="row">
        <div class="sign-in-row">
          <button type="button" class="btn btn-lg sign-in-btn" (click)="startFacebookLogin()">
            <span>Facbook  </span><img src = "app/images/facebook-login.png">
          </button>
        </div>
      </div>
      <div class="row">
        <div class="sign-in-row">
          <button type="button" class="btn btn-lg sign-in-btn" (click)="startTwitterLogin()">
            <span>Twitter  </span><img src = "app/images/twitter-login.png">
          </button>
        </div>
      </div>
      <div class="row"> 
        <div class="sign-in-row">
          <button type="button" class="btn btn-lg sign-in-btn" (click)="startGithubLogin()">
            <span>Github  </span><img src = "app/images/GitHub-Mark-32px.png">
          </button>
        </div>
      </div>
  </div> 
<h3>About</h3>
<p>
  ResNow is an application for reservation taking and making. It's a perfect way for small businesses to take reservations. Use-cases include: hair salons, restaurants... etc. Basically anywhere that reservations are required. Create a calendar then tell your friends/clients to search for it in the "Discover calendars" section of their home page. Once they've found it they can create reservations.
</p>
</div> 