.time {
    font-size: 75px;

}

.hour{
    font-size: 100px;
    color: #00e6e6;
}

.minute{
    font-size: 100px;
    color: #ffbc2b;

}

.colon{
    font-size: 75px;
}

.meridiem{
    font-size: 75px;
    border-radius: 25px;
    border: 2px solid black;
    padding-left: 3px;
    cursor: pointer;
    cursor: hand;
    background-color: #EEEEEE;
}
.meridiem:hover{
    background: white;
}

.controlBtnGroup{
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.btn.pop{
    border: 2px solid black;
    margin: 1px 1px 1px 1px;
    background-color:#EEEEEE;
}
.btn.pop:hover{
    background: white; 
}

.col-md-4.btnGroup{
    position: relative;
}

.nameEntry{ 
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}




