.time {
    font-size: 75px;

}

.hour{
    font-size: 100px;
    color: #00e6e6;
}

.minute{
    font-size: 100px;
    color: #ffbc2b;

}

.colon{
    font-size: 75px;
}

.meridiem{
    font-size: 75px;
    border-radius: 25px;
    border: 2px solid black;
    padding-left: 3px;
    cursor: pointer;
    cursor: hand;
    background-color: #EEEEEE;
}
.meridiem:hover{
    background: white;
}

.controlBtnGroup{
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.btn.pop{
    border: 2px solid black;
    margin: 1px 1px 1px 1px;
}
/*.btn.pop:hover{
    background: white; 
}*/

.col-md-4.btnGroup{
    position: relative;
}

.nameEntry{ 
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.defaultDatePicker{
    border: solid 2px transparent;
}
.startSelect{
    border: solid 2px #ffbc2b;
}

.endSelect{
    border: solid 2px #00e6e6;
}

.startEditBtn{
    border: solid 2px #ffbc2b;
}

.startEditBtn:hover{
    border: solid 2px #ffbc2b;
}

.endEditBtn{
    border: solid 2px #00e6e6;
}

.endEditBtn:hover{
    border: solid 2px #00e6e6;
}

.full button span {
background-color: limegreen;
border-radius: 32px;
color: black;
}
.partially button span {
background-color: orange;
border-radius: 32px;
color: black;
}
.well{
    margin-bottom: 0px !important;
}
.single-line-input{
    padding-top: 5px;
    padding-bottom: 5px;
}

