.time {
    font-size: 90px;

}

.hour{
    font-size: 100px;
    color: #00e6e6;
}

.minute{
    font-size: 100px;
    color: #ffbc2b;

}

.colon{
    font-size: 100px;
}

.meridiem{
    font-size: 90px;
    border-radius: 25px;
    border: 2px solid black;
    padding-left: 3px;
    cursor: pointer;
    cursor: hand;
}
.meridiem:hover{
    background: #eeeeee;
}

.controlBtnGroup{
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.btn.pop{
    border: 2px solid black;
    margin: 1px 1px 1px 1px;
}

.col-md-4.btnGroup{
    height: 128px;
    position: relative;
}