<div class = "well well-sm event-well">
    <div class = "row">
        <div class ="col-xs-8">
            <div class = "event-text">
                {{ startDate | date:'mediumDate'}}
                <!--{{ startDate }}-->
                &nbsp;&nbsp;&nbsp;&nbsp;
                {{ event.title}}
            </div>
        </div>
        <div class = "col-xs-2">
            <button type="button" class="btn btn-default btn-sm edit-btn" (click) = "deleteEvent()">
                <span class = "glyphicon glyphicon-trash"></span>
            </button>
        </div>
        <div class ="col-xs-2" style = "text-align:center">
            <button type="button" class="btn btn-default btn-sm edit-btn" (click) = "toggleShowNote()">
                <span class = "glyphicon glyphicon-chevron-right" *ngIf = "!showNote"></span>
                <span class = "glyphicon glyphicon-chevron-up" *ngIf = "showNote"></span>
            </button>
        </div>
    </div>
    <div class = "row extra-row" *ngIf = "showNote">
        <div class = "col-xs-8">
            {{event.note}}
        </div>
        <div class = "col-xs-4">
            <button type="button" class="btn btn-default btn-sm" (click) = "goTo()">
                Go to
            </button>
        </div>
    </div>
</div>