.event-text{
    font-size: 15px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    text-align: left;
}

.event-well{
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    width:350px;
    display: inline-block;

}

.extra-row{
    margin-top: 5px;
}