<div class = "well well-sm event-well">
    <div class = "row">
        <div class ="col-xs-7">
            <div class = "event-text">
                 <span>{{ startDate | date:'mediumDate'}}</span>
            </div>
            <span class = "event-text">
                {{ event.title}}
            </span>
        </div>
        <div class = "col-xs-5 event-btns">
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-default btn-sm edit-btn" (click) = "deleteEvent()">
                    <span class = "glyphicon glyphicon-trash"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm edit-btn" (click) = "toggleShowNote()">
                    <span class = "glyphicon glyphicon-chevron-right" *ngIf = "!showNote"></span>
                    <span class = "glyphicon glyphicon-chevron-up" *ngIf = "showNote"></span>
                </button>
            </div>
        </div>
    </div>
    <hr *ngIf = "showNote">
    <div class = "row extra-row" *ngIf = "showNote">
        <div class = "col-xs-12" style = "text-align:left">
            <span>Note: {{event.note}}</span>
        </div>
    </div>
    <hr *ngIf = "showNote">
    <div class = "row extra-row" *ngIf = "showNote">
        <div class = "col-xs-9" style = "text-align:left">
            <span>Calendar: {{calendarName}}</span>
        </div>
        <div class = "col-xs-3">
            <button type="button" class="btn btn-default btn-sm" (click) = "goTo()">
                <span>Go to</span>
            </button>
        </div>
    </div>
</div>