<div class = "well well-sm event-well">
    <div class = "row">
        <div class ="col-xs-6" style= "text-align:left">
            <div class = "event-text">
                {{calendar.name}}
            </div>
        </div>
        <div class ="col-xs-6" style = "text-align:right">
            <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-default btn-sm" (click) = "goTo()">
                Go to
            </button>
            <button type="button" class="btn btn-default btn-sm" (click) = "deleteCalendar()">
                <span class = "glyphicon glyphicon-trash"></span>
            </button>
            <button type="button" class="btn btn-default btn-sm" (click) = "toggleShowDescription()">
                <span class = "glyphicon glyphicon-chevron-right" *ngIf = "!showDescription"></span>
                <span class = "glyphicon glyphicon-chevron-up" *ngIf = "showDescription"></span>
            </button>
            </div>
        </div>
    </div>
    <hr *ngIf = "showDescription">
    <div class ="row extra-row" *ngIf = "showDescription" style= "text-align:left">
        <div class = "col-xs-12">
            Description:&nbsp;{{calendar.description}}
        </div>
    </div>
</div>