<div class="panel panel-default panel-display">
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="btn-group navbar-left" role="group" *ngIf = "showCalendar">
                <button type="button" [ngClass] = "{active: displayOption == 'month'}" (click) = "changeDisplay('month')" class="btn btn-default btn-md navbar-btn cal-navbar-btn">Month</button>
                <button type="button" [ngClass] = "{active: displayOption == 'week'}" (click) = "changeDisplay('week')" class="btn btn-default btn-md navbar-btn cal-navbar-btn">Week</button>
                <button type="button" [ngClass] = "{active: displayOption == 'day'}" (click) = "changeDisplay('day')" class="btn btn-default btn-md navbar-btn cal-navbar-btn">Day</button>
                <button type="button" [ngClass] = "{active: displayOption == 'list'}" (click) = "changeDisplay('list')" class="btn btn-default btn-md navbar-btn cal-navbar-btn">List</button>
            </div>
            <div *ngIf="displayOption == 'month'" style = "display: inline">
                <button type="button" (click) = "decrementMonth()" class = "btn btn-default btn-sm navbar-btn cal-navbar-btn"><span class = "glyphicon glyphicon-menu-left"></span></button>
                <span class = "nav-text">{{months[displayDate.getMonth()]}} - {{displayDate.getFullYear()}}</span>
                <button type="button" (click) = "incrementMonth()" class = "btn btn-default btn-sm navbar-btn cal-navbar-btn"><span class = "glyphicon glyphicon-menu-right"></span></button>
            </div>
            <div *ngIf="displayOption == 'week'" style = "display: inline">
                <button type="button" (click) = "decrementWeek()" class = "btn btn-default btn-sm navbar-btn cal-navbar-btn"><span class = "glyphicon glyphicon-menu-left"></span></button>
                <span class = "nav-text">{{getDate(currentWeekDisplayDates[0]) | date:'mediumDate'}} - {{getDate(currentWeekDisplayDates[6]) | date:'mediumDate'}}</span>
                <button type="button" (click) = "incrementWeek()" class = "btn btn-default btn-sm navbar-btn cal-navbar-btn"><span class = "glyphicon glyphicon-menu-right"></span></button>
            </div>
            <div *ngIf="displayOption == 'day'" style = "display: inline">
                <button type="button" (click) = "decrementDay()" class = "btn btn-default btn-sm navbar-btn cal-navbar-btn"><span class = "glyphicon glyphicon-menu-left"></span></button>
                <span class = "nav-text">{{getDate(displayDate.getTime()) | date:'longDate'}}</span>
                <button type="button" (click) = "incrementDay()" class = "btn btn-default btn-sm navbar-btn cal-navbar-btn"><span class = "glyphicon glyphicon-menu-right"></span></button>
            </div>
            <button (click) = "createRes()" class = "btn btn-default btn-md navbar-btn cal-navbar-btn navbar-right display-opts">+ Create</button>
            <div *ngIf="displayOption == 'week' || displayOption == 'day'" class = "btn-group navbar-right display-opts" style = "display: inline">
                <button type="button" (click) = "displayIsList = true" [ngClass] = "{active: displayIsList}" class="btn btn-default btn-md navbar-btn cal-navbar-btn">List</button>
                <button type="button" (click) = "displayIsList = false" [ngClass] = "{active: !displayIsList}" class="btn btn-default btn-md navbar-btn cal-navbar-btn">Schedule</button>
            </div>
        </div>
    </nav>
    <div *ngIf = "displayOption == 'month'">
        <div *ngFor="let week of currentMonthDisplayDates" class = "row">
            <div class = "col-xs-12">
                <div class = "week-row">
                    <div *ngFor = "let day of week">
                        <res-date (displayDay) = "showDateModal($event)" [date] = "day" [events] = "sortEvents(getEvents(day))" (displayRes) = "displayReservation($event)"></res-date>
                    </div>
                </div> 
            </div>     
        </div>
    </div>
    <res-list 
        [resItems$] = "sortEvents(events)" 
        (remove)= "resService.removeReservation($event)"
        (toDisplay)= "displayReservation($event)" *ngIf="displayOption == 'list'">
    </res-list>
    <div *ngIf = "displayOption == 'week'">
        <!--<span *ngFor = "let day of currentWeekDisplayDates">{{day}}</span> -->
        <div class = "display-week">
            <div *ngFor = "let day of currentWeekDisplayDates" class = "display-week-day">
                <div class = "week-header">
                    <span> {{ getDate(day) | date:'d' }} <sup>{{daysOfWeek[getDate(day).getDay()]}}</sup> </span>
                </div>
                <div class = "week-column">
                    <week-day-event-list *ngIf = "displayIsList" [events] = "sortEvents(getEvents(day))" (remove) = "resService.removeReservation($event)" (update) = "displayReservation($event)"></week-day-event-list>
                    <week-day-event-schedule *ngIf = "!displayIsList" [startOfDay] = "getDate(day).getTime()" [events] = "sortEvents(getEvents(day))" (remove) = "resService.removeReservation($event)" (update) = "displayReservation($event)"></week-day-event-schedule>
                </div>
                <!--<day-event-schedule  [events] = "getEvents(day)" [startOfDay] = "getDate(day).getTime()" (remove) = "resService.removeReservation($event)" (update) = "displayReservation($event)"></day-event-schedule>-->
            </div>
        </div> 
    </div>
    <div *ngIf = "displayOption == 'day'" class = "day-body">
        <day-res-list 
            [resItems$] = "sortEvents(getEvents(displayDate.getTime()))" 
            (remove)= "resService.removeReservation($event)"
            (toDisplay)= "displayReservation($event)" *ngIf="displayIsList">
        </day-res-list>
    </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade display-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" (onHide) = "modalClosed()" (onShow) = "modalOpening()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ eventToDisplay.title }}</h4>
      </div>
      <div class="modal-body">
        <form>
        <div class="form-group">
          <label for="alterEgo">Name</label>
          <input type="text" class="form-control" [(ngModel)] = "eventToDisplay.name">
        </div>
        <div class="form-group">
          <label for="alterEgo">Title</label>
          <input type="text" class="form-control" [(ngModel)] = "eventToDisplay.title">
        </div>
        <div class="form-group">
          <label for="alterEgo">Start</label>
            <div class = "well well-sm" style = "text-align:center">
                {{dt | date:'yMMMdjm'}}
            </div>
            <div class = "row" *ngIf = "modalOpen">
                <div class = "col-xs-7">
                    <datepicker [(ngModel)]="dt" [initDate]="dt" [minDate]="currentDate" [showWeeks]="true"></datepicker>
                </div>
                <div class = "col-xs-5">
                    <timepicker [(ngModel)]="dt"  [hourStep]="hstep" [minuteStep]="mstep"></timepicker>
                </div>
            </div>
        </div>
        <div class="form-group">
          <label for="alterEgo">Note</label>
          <textarea class="form-control" rows="3"  required [(ngModel)]="eventToDisplay.note"></textarea>
        </div>
        </form>
        <div style = "text-align:right" [ngSwitch]="createNew">
            <button class="btn btn-default" type="submit" (click) = "lgModal.hide()">Cancel</button>
            <button class="btn btn-success" *ngSwitchWhen="true" type="submit" (click) = "pushUpdate(eventToDisplay)" >Create</button>
            <button class="btn btn-success" *ngSwitchWhen="false" type="submit" (click) = "pushUpdate(eventToDisplay)" >Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<button class="btn btn-primary" (click)="dateModal.show()">Large modal</button>-->
<div bsModal #dateModal="bs-modal" class="modal fade display-modal" tabindex="-1" role="dialog" (onHide) = "dateModalClosed()" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="dateModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="btn-group btn-group-sm pull-right day-list-choice-btn" role="group" aria-label="...">
            <button type="button" class="btn btn-default" [ngClass] = "{active:showDayEventList}" (click) = "showDayEventList = true">List</button>
            <button type="button" class="btn btn-default" [ngClass] = "{active:!showDayEventList}"  (click) = "showDayEventList = false">Schedule</button>
        </div>
        <h4 class="modal-title" *ngIf = "showDayEventsModal">{{getDate(dateToShow) | date:"fullDate"}}</h4>
      </div>
      <div class="modal-body">
          <day-event-list *ngIf = "showDayEventsModal && showDayEventList" [events] = "getEvents(dateToShow)" (remove) = "resService.removeReservation($event)" (update) = "displayReservation($event)"></day-event-list>
          <day-event-schedule *ngIf = "showDayEventsModal && !showDayEventList" [events] = "getEvents(dateToShow)" [startOfDay] = "getDate(dateToShow).getTime()" (remove) = "resService.removeReservation($event)" (update) = "displayReservation($event)"></day-event-schedule>
      </div>
    </div>
  </div>
</div>