<style>
.mainView{
    background-color: #DDDDDD;
}
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    padding-top: 8px;
}
</style>
<div class = "mainView">
    <div class = "container" style="{margin-top:20px}">
        <user-entry></user-entry>
        <div class = "panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Existing events
                    <div class="btn-group pull-right" role="group">
                        <button type="button" class="btn btn-default" (click)="setCalendarMode()" [ngClass] = {active:calendarMode}>Calendar</button>
                        <button type="button" class="btn btn-default" (click)="setListMode()" [ngClass] = {active:listMode}>List</button>
                    </div>
                </h3>
                <div class="clearfix"></div>
            </div>
            <div class = "panel-body">
                <res-list 
                    [resItems$] = "reservationService.reservationItems$" 
                    (remove)= "reservationService.removeReservation($event)" *ngIf="listMode">
                </res-list>
                <p-schedule [events]="events" [editable]="true" 
                (onDayClick) = "handleDayClick($event)" 
                (onEventClick) = "showDetailModal($event)"
                [locale]="{timeFormat:'h:mmt'}"
                [header]="headerConfig" *ngIf="calendarMode">    
                </p-schedule>
                <p-dialog></p-dialog>
            </div>
        </div>
    </div>
</div> 