/*.edit-btn{
    margin-bottom: 3px;
}
.delete-btn{
    margin-top: 3px;
}*/

.well-title{
    font-size: 12px;
    margin-bottom: 5px;
}

.well-body{
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.event-well{
    margin: 4px 3px;
}