<!--<div class = "container">

    <div class = "row events-header">
        <div class = "col-xs-6" style = "text-align:left">
            <h4>Upcoming Reservations</h4>
        </div>
        <div class = "col-xs-6" style = "text-align:right">
            <button class="btn btn-success" type="submit" (click) = "goToCalendar('mine')">View personal calendar</button>
        </div>
    </div>

    <div class = "row">
        <div class = "col-xs-12">
            <div class = "home-events">
                <home-page-event  *ngFor ="let event of events | async" [event] = "event" (giveDetails) = "deleteEventDialog($event)" (goToCalendar)="goToCalendar($event)"></home-page-event>
            </div>
        </div>  
    </div>

    <div class = "row">
        <div class = "col-xs-12" style = "text-align:left">
            <h4>Discover Calendars</h4>
        </div>
    </div>
    <div class = "row search-bar">
        <div class = "col-xs-12">
            <div class = "home-events">
            <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">
                <span class = "glyphicon glyphicon-search"></span>
            </span>
            <input [(ngModel)]="asyncSelected"
                    [typeahead]="dataSource"
                    (typeaheadLoading)="changeTypeaheadLoading($event)"
                    (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                    (typeaheadOnSelect)="typeaheadOnSelect($event)"
                    [typeaheadOptionsLimit]="7"
                    [typeaheadOptionField]="'name'"
                    placeholder="Search all calendars..."
                    class="form-control"
                    aria-describedby="basic-addon1">
            <div *ngIf="typeaheadLoading===true">
                <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
            </div>
            <div *ngIf="typeaheadNoResults===true" class="" style="">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
            </div>
            </div>
        </div>  
    </div>

    <div class = "row events-header">
        <div class = "col-xs-6" style = "text-align:left">
            <h4>My Calendars</h4>
        </div>
        <div class = "col-xs-6" style = "text-align:right">
            <button class="btn btn-success" type="submit" (click) = "createCalendarDialog()">Create new calendar</button>
        </div>
    </div>

    <div class = "row">
        <div class = "col-xs-12 home-calendar">
            <div *ngFor = "let calendar of calendars | async">
                <home-page-calendar [calendar] = "calendar" (giveDetails) = "deleteCalendarDialog($event)" (goToCalendar) = "goToCalendar($event)"></home-page-calendar>
            </div>
        </div>
    </div>
</div>

<div bsModal #createCalModal="bs-modal" class="modal fade" tabindex="-1" (onShow) = "resetCalVars()" (onHide) = "resetCalVars()" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="createCalModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create calendar</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="alterEgo">Name</label>
                <input type="text" class="form-control" [(ngModel)] = "newCalName" name = "name">
            </div>
            <div class="form-group">
                <label for="alterEgo">Description</label>
                <textarea  class="form-control" rows="3"  required [(ngModel)]="newCalDescription" name = "note"></textarea>
            </div>
        </form>
        <div style = "text-align:right">
            <button class="btn btn-default" type="submit" (click) = "createCalModal.hide()">Cancel</button>
            <button class="btn btn-success" type="submit" (click) = "createCalendar(newCalName,newCalDescription)" >Create</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteCalModal="bs-modal" class="modal fade" tabindex="-1" (onHide) = "clearCalToDelete()" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="deleteCalModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete calendar</h4>
      </div>
      <div class="modal-body">
          <p>Are you sure you want to delete {{calToDelete.name}}?</p>
        <div style = "text-align:right">
            <button class="btn btn-default" type="submit" (click) = "deleteCalModal.hide()">Nah</button>
            <button class="btn btn-success" type="submit" (click) = "deleteCalendar(calToDelete.$key)">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteEventModal="bs-modal" class="modal fade" tabindex="-1" (onHide) = "clearEventToDelete()" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="deleteEventModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete Event</h4>
      </div>
      <div class="modal-body">
          <p>Are you sure you want to delete {{eventToDelete.title}}?</p>
        <div style = "text-align:right">
            <button class="btn btn-default" type="submit" (click) = "deleteEventModal.hide()">Nah</button>
            <button class="btn btn-success" type="submit" (click) = "deleteEvent(eventToDelete)">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class = "container">
    <div class = "row">
        <div class = "col-xs-12" style = "text-align:left">
            <h4>Discover Calendars</h4>
        </div>
    </div>
    
    <div class = "row search-bar">
        <div class = "col-xs-12">
            <div class = "home-events">
            <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">
                <span class = "glyphicon glyphicon-search"></span>
            </span>
            <input [(ngModel)]="asyncSelected"
                    [typeahead]="dataSource"
                    (typeaheadLoading)="changeTypeaheadLoading($event)"
                    (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                    (typeaheadOnSelect)="typeaheadOnSelect($event)"
                    [typeaheadOptionsLimit]="7"
                    [typeaheadOptionField]="'name'"
                    placeholder="Search all calendars..."
                    class="form-control"
                    aria-describedby="basic-addon1">
            <div *ngIf="typeaheadLoading===true">
                <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
            </div>
            <div *ngIf="typeaheadNoResults===true" class="" style="">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
            </div>
            </div>
        </div>  
    </div>
    <div class = "row">
        <div class = "col-xs-8">
            <div class = "panel panel-default home-panel">
                <div class = "panel-body">
                    <div class = "row events-header">
                        <div class = "col-xs-6" style = "text-align:left">
                            <h4>Upcoming Reservations</h4>
                        </div>
                        <div class = "col-xs-6" style = "text-align:right">
                            <button class="btn btn-home-page" type="submit" (click) = "goToCalendar('mine')">View personal calendar</button>
                        </div>
                    </div>

                    <div class = "row">
                        <div class = "col-xs-12">
                            <div class = "home-events">
                                <home-page-event *ngFor ="let event of events | async" [event] = "event" (giveDetails) = "deleteEventDialog($event)" (goToCalendar)="goToCalendar($event)"></home-page-event>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-xs-4">
            <div class = "panel panel-default home-panel">
                <div class = "panel-body">
                    <div class = "row events-header">
                        <div class = "col-xs-5" style = "text-align:left">
                            <h4>My Calendars</h4>
                        </div>
                        <div class = "col-xs-7" style = "text-align:right">
                            <button class="btn btn-home-page" type="submit" (click) = "createCalendarDialog()">Create new calendar</button>
                        </div>
                    </div>

                    <div class = "row">
                        <div class = "col-xs-12 home-calendar">
                            <div *ngFor = "let calendar of calendars | async">
                                <home-page-calendar [calendar] = "calendar" (giveDetails) = "deleteCalendarDialog($event)" (goToCalendar) = "goToCalendar($event)"></home-page-calendar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #createCalModal="bs-modal" class="modal fade" tabindex="-1" (onShow) = "resetCalVars()" (onHide) = "resetCalVars()" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="createCalModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create calendar</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="alterEgo">Name</label>
                <input type="text" class="form-control" [(ngModel)] = "newCalName" name = "name">
            </div>
            <div class="form-group">
                <label for="alterEgo">Description</label>
                <textarea  class="form-control" rows="3"  required [(ngModel)]="newCalDescription" name = "note"></textarea>
            </div>
        </form>
        <div style = "text-align:right">
            <button class="btn btn-default" type="submit" (click) = "createCalModal.hide()">Cancel</button>
            <button class="btn btn-success" type="submit" (click) = "createCalendar(newCalName,newCalDescription)" >Create</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteCalModal="bs-modal" class="modal fade" tabindex="-1" (onHide) = "clearCalToDelete()" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="deleteCalModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete calendar</h4>
      </div>
      <div class="modal-body">
          <p>Are you sure you want to delete {{calToDelete.name}}?</p>
        <div style = "text-align:right">
            <button class="btn btn-default" type="submit" (click) = "deleteCalModal.hide()">Nah</button>
            <button class="btn btn-success" type="submit" (click) = "deleteCalendar(calToDelete.$key)">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteEventModal="bs-modal" class="modal fade" tabindex="-1" (onHide) = "clearEventToDelete()" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="deleteEventModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete Event</h4>
      </div>
      <div class="modal-body">
          <p>Are you sure you want to delete {{eventToDelete.title}}?</p>
        <div style = "text-align:right">
            <button class="btn btn-default" type="submit" (click) = "deleteEventModal.hide()">Nah</button>
            <button class="btn btn-success" type="submit" (click) = "deleteEvent(eventToDelete)">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>